@import "tailwindcss";
@import "@fontsource/space-grotesk";
@import "@fontsource/space-grotesk/700.css";
@theme {
  --color-darkslate:#121212;
  --color-lightwhite: #f5f5f5;
  --color-mutedwhite:#e0e0e0;
  --color-mutedorange:#ff7f50;
  --color-grey:#878787; 
  --color-mutedgrey:#b0b0b0;
  --color-charcoal:#1e1e1e;
  --color-lightblue:#09d0ef;
  --color-mediumblue:#15a3c7;
  --color-border:#374151; 
  --color-checkgreen:#22c55e;
}

#root {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
}
